<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Video Game Tag</title>
	<link rel= "stylesheet" type= "text/css" href = "./style.css" th:href= "@{css/style.css}">
</head>
<body>
	<header>
	<h1>Tag:</h1>
	</header>
	<div th:id = "individualCategoryTitle" th:each ="tag: ${tags}">
		<h2 th:text ="${tag.name}"></h2>
		
	</div>
	
	<div th:id = "reviewsForCategory" th:each="review: ${reviews}">
		<h2>
		<a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
		</h2>
		
	</div>
	<footer><a href ="http://localhost:8080/show-tags">Back to tags home</a>
		<a href ="http://localhost:8080/show-reviews">Back to reviews home</a>
	</footer>

</body>
</html>